<header class="header">
    <div class="container">
        <div class="nav-wrapper">
            <a href="index.html" class="logo">Portfolio</a>

            <nav class="nav-menu">
                <a href="index.html" class="nav-link">Home</a>
                <a href="index.html?page=resume" class="nav-link">Resume</a>
                <a href="index.html?page=bio" class="nav-link">Bio</a>
                <a href="index.html?page=contact" class="nav-link">Contact</a>
            </nav>

            <div class="nav-buttons">
                <a href="index.html?page=resume" class="btn btn-outline">View Resume</a>
                <a href="index.html?page=contact" class="btn btn-primary">Get In Touch</a>
            </div>
        </div>
    </div>
</header>
